<div class="flex items-center justify-center w-full px-6 py-12 dark:bg-gray-900">
    <div>
        <div class="flex flex-col justify-between h-64 max-w-xs px-4 py-5 mb-6 bg-white border border-gray-400 rounded-lg dark:bg-gray-800" *ngFor="let job of jobs">
            <div>
                <h4 class="mb-3 font-bold text-gray-800 dark:text-gray-100">{{job.job_title ?? job.job_job_title}}</h4>
            </div>
            <div>
                <div class="flex items-center justify-between text-gray-800">
                    <p class="pr-5 text-sm dark:text-gray-100">{{job.job_description}}</p>
                    <a href={{job.job_google_link}} class="text-sm text-blue-500 dark:text-gray-100">Apply Now</a>
                </div>
            </div>
        </div>
    </div>
</div>
